/* About css start */
.about__content {
  margin: 70px 0 40px 0;
}
.about__content .wrapper {
  display: flex;
  justify-content: center;
}
.about__illustration {
  max-width: 50%;
}
.about__illustration img {
  max-width: 100%;
  height: auto;
}
.about__content__inner {
  width: 50%;
  padding: 0 50px;
}
.about__content__inner .about__p1 {
  margin: 30px 0 20px 0;
}
.about__content__inner .about__sign {
  margin-top: 30px;
}
.ceo {
  font-family: "Operator Mono";
  font-weight: 700;
  color: var(--main-color);
  font-size: 1.5625rem;
  margin-bottom: 30px;
}
@media screen and (max-width: 992px) {
  .about__content {
    margin: 50px 0 30px 0;
  }
  .about__illustration {
    max-width: 40%;
  }
  .about__content__inner {
    width: 100%;
    padding: 0 0;
  }
  .about__content__inner .about__p1 {
    margin: 20px 0 10px 0;
  }
  .about__heading .main__title {
    font-size: 30px;
  }
  .about__content__inner .about__sign {
    margin-top: 5px;
  }
  .about__content__inner .ceo {
    margin-bottom: 10px;
  }
  .about__content .wrapper {
    align-items: center;
  }
}

/* Responsive */
@media screen and (max-width: 768px) {
  .about__content .wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .about__illustration {
    max-width: 70%;
    margin: auto;
  }
  .about__content {
    margin: 0 0 20px 0;
  }
  .about__content__inner {
    padding: 0 50px;
  }
  .about__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about__content__inner .about__sign {
    margin-top: 20px;
  }
}
@media screen and (max-width: 575px) {
  .about__content__inner {
    padding: 0 20px;
  }
  .about__illustration {
    max-width: 90%;
    margin: auto;
  }
}
/* About css end */
